@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0b132b;
    color: #fdf8ff;
    @apply font-body antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 300;
    font-style: normal;
  }
  .zalando-sans-expanded {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .red-hat-text {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .animate-pulse-slow {
    animation: pulse-slow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}


@keyframes pulse-slow {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
}
